


.faqs-container {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}



.faq-heading {
    border-top: solid 2px rgb(178, 178, 178);
    font-weight: 600;
    color: rgb(53, 53, 53);
    margin: 0 auto;
    width: 100%;
    font-size: xxx-large;
    word-break: keep-all;
    text-align: center;
}



 .faqs-container p {
    padding: 0 7px;
    font-size: large;
}

.faqs-text-div {
    width: 100%;
    margin: 5px auto;
    padding: 3rem 7px 3rem 7px;
    transition: all 3s ease-in-out;
    animation: 3s;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}











@media only screen and (max-width: 1000px) {
    .faq-heading {
        font-size: xx-large;
    }
    
}

@media only screen and (max-width: 700px) {
   
}


@media only screen and (max-width: 500px) {
    
    
    .faq-heading {
        font-size: x-large;
    }
    
}


